@import '../../styles/variables';

& {

  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  md-sidenav-container {
    flex: 1;
  }

  .do-sidenav {
    width: 200px;
  }

  .do-side-menu {
    position: fixed;
    top: 40px;
    bottom: 0;
    width: @sideMenuWidth;
    border-right: 1px solid black;
  }
}