& {
  .editBtn() {
    transform: scale(0.75);

    &.mat-mini-fab {
      background-color: inherit;
      color: #000000;
    }
  }

  .do-service-view-container {
    padding: 10px;
  }

  .do-header {
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 20px;

    .do-service-edit-btn {
      .editBtn();
    }

    .do-name {
      font-size: 22px;
      line-height: 15px;
    }

    .do-number {
      color: #CCCCCC;
    }

    .do-proxy {
      margin-left: 10px;
    }
  }

  .do-add-route-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .do-route-line {
    .do-edit-route-btn {
      margin-right: 10px;
      visibility: hidden;

      .editBtn();
    }

    &:hover {
      .do-edit-route-btn {
        visibility: visible;
      }
    }

    .do-method {
      display: inline-block;
      width: 60px;
      height: 25px;
      color: #FFFFFF;
      text-align: center;
      line-height: 25px;

      &.get {
        background: #008018;
      }

      &.post {
        background: #FFA42E;
      }

      &.put {
        background: #0000FF;
      }

      &.delete {
        background: #000000;
      }
    }

    .do-path {
      flex: 1;
      margin-left: 20px;
    }
  }

  .do-route-toggle {
    height: 15px;
  }
}