& {
  form {
    display: flex;
    flex-direction: column;
  }

  .do-from-actions {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;

    .do-close-btn, .do-remove-btn {
      margin-left: 10px;
    }
  }

  .do-response-container {
    width: 500px;
    height: 350px;
    overflow-y: scroll;
  }

  .do-response-editor {
    margin: 10px 0;
  }
}