& {
  :host {
    width: 500px;
  }

  md-dialog-content {
    padding-bottom: 20px;
  }

  md-dialog-content {
    width: 500px;
    display: flex;
    flex-direction: column;
  }

  .do-dialog-actions {
    // display: flex;
  }

  .do-add-btn-response-container {
    display: flex;
    justify-content: flex-start;
  }

  .ob-response-form-container {
    margin-left: 50px;
  }
}