& {
  :host {
    width: 500px;
  }

  md-dialog-content {
    padding-bottom: 20px;
  }

  md-dialog-content {
    width: 500px;
    display: flex;
    flex-direction: column;
  }

  .do-response-container {
    margin-top: 20px;
  }

  .do-add-btn-response-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .ob-response-form-container {
    margin-left: 50px;
  }

  .do-dialog-actions {
    display: flex;
    justify-content: flex-end;

    .do-close-dialog-btn {
      margin-left: 10px;
    }
  }
}