<div md-dialog-title>Route</div>
<div>
  <form [formGroup]="routeForm">
    <md-dialog-content>

      <md-input-container>
        <input mdInput placeholder="Route Id" formControlName="id">
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Route Path" formControlName="path">
      </md-input-container>

      <div>
        <md-select formControlName="method">
          <md-option *ngFor="let method of methods" [value]="method">{{method}}</md-option>
        </md-select>
      </div>

      <md-slide-toggle formControlName="active">Active</md-slide-toggle>

      <div class="do-response-container">
        <md-select *ngIf="route.responses.length" placeholder="Responses...">
          <md-option *ngFor="let response of route.responses" [value]="response.id">{{response.name}}</md-option>
        </md-select>

        <div *ngIf="showEditResponse">
          <response-form [config]="responseConfig" (onSave)="onResponseSave($event)" (onCancel)="onResponseCancel()"></response-form>
        </div>

        <div class="do-add-btn-response-container" *ngIf="!showAddResponse">
          <button md-raised-button (click)="addResponse()">Add Response</button>
        </div>

        <div class="ob-response-form-container" *ngIf="showAddResponse">
          <response-form [config]="responseConfig" (onSave)="onResponseSave($event)" (onCancel)="onResponseCancel()"></response-form>
        </div>

      </div>

    </md-dialog-content>

    <md-dialog-actions class="do-dialog-actions">
      <button class="do-save-dialog-btn" [disabled]="!routeForm.valid" md-raised-button (click)="saveRoute(route)">Save</button>
      <button class="do-close-dialog-btn" md-raised-button md-dialog-close>Close</button>
    </md-dialog-actions>
  </form>
</div>